<nav class="navbar bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa-brands fa-pied-piper">
            </i>Hotel-Arusuvai
        </a>
        <form class="bar" role="search">
            <input type="search" placeholder="Search" aria-label="Search">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <button type="button" class="btn btn-link position-relative" routerLink="/cart">
            <i class="fa-solid fa-cart-plus"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{totitem}}
              <span class="visually-hidden">unread messages</span>
            </span>
        </button>
    </div>
</nav>
