a
{
    font-size: 30px;
    font-family: impact;
    color: #e4e4e4;
    font-style: italic;
}
a i
{
    margin-right: 10px;
}
a:hover
{
    color: #e4e4e4;
}
input
{
    width: 150%;
}
.bar
{
    position: absolute;
    display: flex;
    margin-left: 25%;
    border: 2px solid;
    border-radius: 10px;
    border-color: #e4e4e4;
}
.bar input
{
    color: #e4e4e4;
    font-weight: 500px;
    width: 45rem;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 10px;
    background: transparent;
    padding-left: 20px;
}
.bar button
{
    border: none;
    background: transparent;
    border-radius: 10px;
    color: #e4e4e4;
}
.bar input::placeholder
{
    
    color: #e4e4e4;
}
.cart button
{
    background: transparent;
    border: none;
    outline: none;
}
button i
{
   
    font-size: 25px;
}
